Development Utility/Configuration/Packaging.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="http://enterpriseweblibrary.org" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ewl="http://enterpriseweblibrary.org"
        elementFormDefault="qualified">
	<element name="PackagingConfiguration" type="ewl:PackagingConfiguration" />
	<complexType name="PackagingConfiguration">
		<sequence>
			<element name="SystemName" type="string" />
			<element name="SystemShortName" type="string" />
		</sequence>
	</complexType>
</schema>