Library/Configuration/Installation/Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="http://enterpriseweblibrary.org" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ewl="http://enterpriseweblibrary.org"
        elementFormDefault="qualified">
	<element name="InstallationSharedConfiguration" type="ewl:InstallationSharedConfiguration" />
	<complexType name="InstallationSharedConfiguration">
		<sequence>
			<element name="IntermediateLogInPassword" type="string" />
			<element name="EmailDefaultFromName" type="string" />
			<element name="EmailDefaultFromAddress" type="string" />
		</sequence>
	</complexType>
</schema>